<h3> <%= @dish.name %> </h3>

<ul>
  Chef: <%= @dish.chef.name %>
  <% @dish.ingredients.each do |ingredient| %>
    <%= ingredient.name %>
  <% end %>

  Total Calories: <%= @total_calories %>
</ul>
